# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pyenv
.python-version

# virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.__pycache__/

# flask stuff
instance/
.webassets-cache

# backend db
local_settings.py
db.sqlite3

# IDE
.vscode
backend/__pycache__/config.cpython-312.pyc
backend/__pycache__/app.cpython-311.pyc
backend/__pycache__/app.cpython-312.pyc
backend/__pycache__/config.cpython-311.pyc
backend/__pycache__/models.cpython-312.pyc
backend/migrations/alembic.ini
backend/migrations/env.py
backend/migrations/script.py.mako
backend/migrations/__pycache__/env.cpython-312.pyc
backend/migrations/versions/29a002fd4f09_update_db_models.py
backend/migrations/versions/51c6a98f34bf_update_db_models.py
backend/migrations/versions/bcdb03fff4be_update_db_models.py
backend/migrations/versions/d1be7b790a6b_update_db_models.py
backend/migrations/versions/__pycache__/29a002fd4f09_update_db_models.cpython-312.pyc
backend/migrations/versions/__pycache__/51c6a98f34bf_update_db_models.cpython-312.pyc
backend/migrations/versions/__pycache__/bcdb03fff4be_update_db_models.cpython-312.pyc
backend/migrations/versions/__pycache__/d1be7b790a6b_update_db_models.cpython-312.pyc
