# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Node.js related
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pyenv
.python-version

# virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.__pycache__/

# flask stuff
instance/
.webassets-cache

# backend db
local_settings.py
db.sqlite3

# IDE
.vscode
backend/__pycache__
backend/migrations

*.pem