altair==5.4.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
numpy==2.1.0
pandas==2.2.2
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.32
Flask_mail==0.10.0 
python-dotenv==1.0.1
flask_login==0.6.3
